<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trivia Quiz</title>

    <!-- Import Simple.css -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>

<h2>Trivia Quiz</h2>

<table>
    <thead>
    <tr>
        <th>Question</th>
        <th>Answers</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questions}">
        <td th:text="${question.questionText}"></td>
        <td>
            <form action="/questions/answer" method="post">
                <input type="hidden" name="questionText" th:value="${question.questionText}">
                <div th:each="answer : ${question.shuffledAnswers}">
                    <button type="submit" name="selectedAnswer" th:value="${answer}" th:text="${answer}" class="secondary"></button>
                </div>
            </form>
        </td>
        <td>
                    <span th:if="${answeredQuestion == question.questionText}">
                        <span th:if="${isCorrect}" class="success">✅ Correct!</span>
                        <span th:if="${!isCorrect}" class="error">❌ Incorrect! The correct answer is <b th:text="${question.correctAnswer}"></b></span>
                    </span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
